{% extends 'KendoctorAppBundle:Admin:layout.html.twig' %}

{% block body %}
    <blockquote>
        <h3>{{ 'kendoctor.project.index.title' | trans }}</h3>
        <hr/>
        <a class="btn btn-primary" href="{{ path('kendoctor_admin_project_create') }}" class="btn btn-default btn-sm">{{ 'kendoctor.project.create.title' | trans }}</a>
    </blockquote>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning alert-dismissible flash-notice" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{ flashMessage | trans}}
        </div>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>{{ 'kendoctor.project.label.id' | trans }}</th>
            <th>{{ 'kendoctor.project.label.title' | trans }}</th>
            <th>{{ 'kendoctor.index.action' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity.title }}
                </td>
                <td>
                    <a href="{{ path('kendoctor_admin_project_update', { id: entity.id }) }}">{{ 'kendoctor.project.index.actions.edit' | trans }}</a>
                    <a data-btn-close="{{ 'kendoctor.modal.close' | trans }}" data-btn-confirm="{{ 'kendoctor.modal.confirm' | trans }}" data-title="{{ 'kendoctor.project.confirm.delete.title' | trans }}" data-body="{{ 'kendoctor.project.confirm.delete.body' | trans }}" data-confirm="admin"  href="{{ path('kendoctor_admin_project_delete', { id: entity.id }) }}">{{ 'kendoctor.project.index.actions.delete' | trans }}</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# total items count #}
    <p>{{ 'kendoctor.pagination.total' | trans }}: <span class="badge"> {{ pagination.getTotalItemCount }}</span></p>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock body %}